.about {
	padding: 40px 0px;
	padding-top: 0px;
	position: relative;

	&-img {
		float: left;
		height: 380px;
		margin-right: 54px;
		margin-bottom: 20px;

		@include max(991px) {
			float: none;
			padding: 0px;
			margin: 0px;
			margin: 24px 0px;
		}

		@include max(767px) {
			height: 240px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&-info {
		h2 {
			font-size: 30px;
			line-height: 36px;
			max-width: 420px;
			margin-bottom: 25px;
			font-family: "nulshock";
			position: relative;
			left: 420px;

			@include max(991px) {
				left: auto;
				margin: auto;
				max-width: 100%;
				text-align: center;
			}

			@include max(767px) {
				font-size: 20px;
				line-height: 24px;
				margin-bottom: 12px;
			}
		}
	}
	blockquote {
		margin: 0;
		p {
			color: #6d6d6d;
			font-size: 16px;
			margin-bottom: 18px;
			line-height: 22.4px;

			@include max(575px) {
				font-size: 12px;
				line-height: 16.8px;
			}
		}
	}
}

.choose {
	position: relative;
	padding: 80px 0px;
	background-color: #f6f6f6;

	@include max(767px) {
		padding: 30px 0px;
	}

	&-info {
		.heading {
			padding-left: 20px;
			margin-bottom: 70px;
			border-left: 7px solid $primary;

			@include max(991px) {
				margin-bottom: 34px;
			}

			h2 {
				@extend %heading;
				padding-bottom: 16px;
			}

			p {
				max-width: 470px;
				font-size: 16px;
				color: #747474;
				line-height: 22.4px;

				@include max(991px) {
					max-width: 100%;
				}
			}
		}

		ul {
			li {
				margin-bottom: 70px;

				@include max(575px) {
					margin-bottom: 20px;
				}

				&:nth-last-child(1) {
					margin: 0;
				}
				h2 {
					color: #000;
					@extend %fs-2;
					margin-bottom: 16px;
					font-family: "nulshock";

					@include max(575px) {
						font-size: 15px;
						line-height: 18px;
						margin-bottom: 10px;
					}
				}

				p {
					font-size: 16px;
					color: #747474;
					max-width: 470px;
					line-height: 22.4px;

					@include max(991px) {
						max-width: 100%;
					}

					@include max(575px) {
						font-size: 12px;
						line-height: 16.8px;
					}
				}
			}
		}
	}

	&-img {
		width: 100%;
		height: 700px;
		overflow: hidden;
		position: relative;

		@include max(991px) {
			height: 380px;
			margin-bottom: 20px;
		}

		& > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&__info {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.6);

			h2 {
				color: #fff;
				@extend %heading;
				margin-bottom: 12px;
			}

			a {
				width: 60px;
				height: 60px;
				display: flex;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
				background-color: #fff;

				animation: pulse 1.6s infinite;

				@keyframes pulse {
					0% {
						-moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
						box-shadow: 0 0 0 0 rgba(204, 255, 255, 0.6);
					}
					70% {
						-moz-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
						box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
					}
					100% {
						-moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
						box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
					}
				}
			}
		}
	}
}
