.button {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	display: inline-block;
	text-transform: capitalize;
	background-color: $primary;
	padding: 11px 21px !important;
	box-shadow: 0px 4px 20px 0px #ff00201a;
	transition: all 0.3s linear;

	&:hover {
		color: #fff;
	}
}
