.ig-card {
	width: 100%;
	height: 238px;
	overflow: hidden;
	position: relative;

	@include max(767px) {
		height: 75px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	a {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;

		img {
			@include max(767px) {
				transform: scale(0.5);
			}
		}
	}
}

.testimonial-card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	.quote {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $primary;

		@include max(991px) {
			grid-column: 1/-1;
			padding: 40px 0px;
		}
	}

	.info {
		z-index: 1;
		position: relative;
		grid-column: 2 span;

		@include max(991px) {
			grid-column: 1/-1;
		}

		&::after {
			top: 0;
			left: 0;
			z-index: -1;
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.8);
		}
	}
}

.product-card {
	padding: 18px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #cfcfcf;

	span {
		font-size: 8px;
		line-height: 12px;
		margin-bottom: 4px;
	}

	h2 {
		color: #1d1d1d;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 3px;
		font-weight: 700;
		text-transform: capitalize;
	}

	p {
		font-size: 9px;
		color: #747474;
		line-height: 12.6px;
	}

	&-price {
		padding: 0px 12px;
		margin: 16px 0px;
		border-radius: 5px;
		background-color: #fff;
		border: 0.5px solid #cfcfcf;

		span,
		h2 {
			color: #1d1d1d;
		}

		span {
			font-size: 8px;
			line-height: 12px;
		}
		h2 {
			margin: 0;
			font-size: 30px;
			font-weight: 700;
			line-height: 45px;
			text-align: center;
		}
	}

	&-actions {
		display: flex;
		align-items: center;
		a {
			width: 50%;
			font-size: 13px;
			font-weight: 700;
			padding: 12px 20px;
			line-height: 19.5px;
			text-align: center;
			text-transform: uppercase;
			transition: all 0.3s linear;
			svg {
				color: $primary;
				margin-right: 6px;
			}

			&:nth-child(1) {
				color: #fff;
				margin-right: 8px;
				background-color: $primary;
			}

			&:nth-child(2) {
				color: #1d1d1d;

				&:hover {
					color: #fff;
					background-color: $primary;

					svg {
						color: #fff;
					}
				}
			}
		}
	}
}

.store-card {
	display: flex;
	padding: 8px 15px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	background: #f5f5f5;
	align-items: center;
	justify-content: space-between;
	border: 0.5px solid #cfcfcf;
	.info {
		display: flex;
		margin-right: 24px;
		align-items: center;

		img {
			margin-right: 10px;
		}

		h2,
		p {
			color: #1d1d1d;
		}

		h2 {
			font-size: 13px;
			font-weight: 700;
			line-height: 19.5px;
			text-transform: capitalize;
		}
		p {
			font-size: 8px;
			line-height: 12px;
			max-width: 150px;
		}
	}

	a {
		color: $primary;
		font-size: 10px;
		line-height: 15px;
		text-decoration: underline;
	}
}

.order-card {
	display: flex;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	padding: 24px 36px;
	align-items: center;
	background-color: #fff;
	border: 1px solid #cfcfcf;

	@include max(991px) {
		flex-direction: column;
		align-items: flex-start;
	}

	@include max(767px) {
		padding: 22px 30px;
		padding-bottom: 40px;
	}

	&-img {
		margin-right: 60px;

		@include max(991px) {
			margin: 0;
			width: 100%;
		}
		h2 {
			font-size: 20px;
			color: #1d1d1d;
			line-height: 24px;
			margin-bottom: 8px;
			font-family: "nulshock";

			@include max(991px) {
				font-size: 15px;
				line-height: 18px;
				text-align: center;
			}
		}

		.img {
			width: 300px;
			height: 300px;
			overflow: hidden;
			position: relative;

			@include max(991px) {
				width: 100%;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;

				@include max(991px) {
					object-fit: contain;
				}
			}
		}
	}

	&-info {
		ul {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 30px;
			align-items: center;

			li {
				margin-right: 50px;

				@include max(767px) {
					margin-right: 26px;
				}

				span {
					font-size: 8px;
					color: #747474;
					line-height: 12px;
				}

				p {
					font-size: 16px;
					font-weight: 700;
					color: #1d1d1d;
					line-height: 24px;
					text-transform: capitalize;

					@include max(57px) {
						font-size: 12px;
						line-height: 18px;
					}
				}
			}
		}

		blockquote {
			p {
				font-size: 16px;
				color: #747474;
				line-height: 22.4px;
				padding-bottom: 40px;
			}
		}
	}
}

.team-card {
	&-img {
		z-index: 3;
		width: 176px;
		height: 272px;
		margin: 0px auto;
		position: relative;
		margin-bottom: 18px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after {
			content: "";
			top: -34px;
			right: -40px;
			z-index: -1;
			width: 137px;
			height: 267px;
			position: absolute;
			background-color: $primary;
		}
	}

	&-info {
		text-align: center;

		h2 {
			color: #000;
			font-size: 20px;
			line-height: 24px;
			font-family: "nulshock";

			@include max(575px) {
				font-size: 12.18px;
				line-height: 14.62px;
			}
		}

		p {
			color: #000;
			font-size: 16px;
			line-height: 32px;

			@include max(575px) {
				font-size: 9.75px;
				line-height: 19.49px;
			}
		}
	}
}
