.input {
	overflow: hidden;
	position: relative;

	label {
		color: #1d1d1d;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 8px;
		display: inline-block;

		sup {
			color: $primary;
		}
	}
	input {
		font-size: 13px;
		line-height: 19.5px;
		color: #1d1d1d;
		width: 100%;
		padding: 10px 14px;
		border-radius: 5px;
		background-color: #fff;
		border: 0.5px solid #cfcfcf;
	}
}

.input-field {
	width: 565px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	background-color: #fff;
	text-transform: capitalize;
	border: 1px solid #d9d9d9;

	input {
		width: 100%;
		font-size: 14px;
		line-height: 19.07px;
		padding: 24px 25px;

		&::placeholder {
			color: #747474;
		}
	}

	button {
		top: 50%;
		width: 138px;
		height: 43px;
		right: 10px;
		position: absolute;
		transform: translateY(-50%);
	}
}
