* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

input,
button {
  border: 0px;
}

input:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

button {
  display: inline-block;
  background-color: transparent;
}

a {
  text-decoration: none;
}

body {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.instagram .heading h2 {
  color: #1d1d1d;
  font-size: 40px;
  line-height: 48px;
  font-family: "nulshock";
}

@media (max-width: 767px) {
  .instagram .heading h2 {
    font-size: 25px;
    line-height: 30px;
  }
}

.header .nav-item select, .header .nav-link {
  font-size: 14px;
  line-height: 21px;
}

.footer-menu h2, .instagram .heading p {
  font-size: 18px;
  line-height: 21.6px;
}

.button {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  display: inline-block;
  text-transform: capitalize;
  background-color: #ff0020;
  padding: 11px 21px !important;
  box-shadow: 0px 4px 20px 0px #ff00201a;
}

.ig-card {
  width: 100%;
  height: 238px;
  overflow: hidden;
  position: relative;
}

.ig-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ig-card a {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.input-field {
  width: 565px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
}

.input-field input {
  width: 100%;
  font-size: 14px;
  line-height: 19.07px;
  padding: 24px 25px;
}

.input-field input::placeholder {
  color: #747474;
}

.input-field button {
  top: 50%;
  width: 138px;
  height: 43px;
  right: 10px;
  position: absolute;
  transform: translateY(-50%);
}

.footer {
  overflow: hidden;
  position: relative;
  background-color: #f6f6f6;
}

.footer-top {
  padding: 50px 0px;
  padding-bottom: 45px;
  border-bottom: 2px solid #d9d9d9;
}

.footer-top-subscribe {
  display: flex;
  margin-top: 50px;
  align-items: flex-end;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .footer-top-subscribe {
    margin-top: 16px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-top-subscribe ul {
  display: flex;
  align-items: center;
}

.footer-top-subscribe ul li {
  margin-right: 20px;
}

.footer-bottom {
  padding-top: 22px;
  padding-bottom: 34px;
}

.footer-bottom p {
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  .footer-info {
    margin-bottom: 28px;
  }
}

.footer-info .logo {
  margin-bottom: 18px;
}

.footer-info p {
  font-size: 16px;
  color: #747474;
  line-height: 24px;
  margin-bottom: 30px;
}

@media (max-width: 575px) {
  .footer-info p {
    font-size: 10px;
    line-height: 15px;
  }
}

.footer-info ul {
  display: flex;
  align-items: center;
}

.footer-info ul li {
  margin-right: 20px;
}

@media (max-width: 991px) {
  .footer-menu {
    margin-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .footer-menu {
    margin-bottom: 24px;
  }
}

.footer-menu h2 {
  color: #333333;
  margin-bottom: 20px;
  font-family: "nulshock";
}

@media (max-width: 575px) {
  .footer-menu h2 {
    font-size: 12px;
    line-height: 14.4px;
    margin-bottom: 15px;
  }
}

.footer-menu ul li {
  margin-bottom: 5px;
}

@media (max-width: 575px) {
  .footer-menu ul li {
    margin-bottom: 4px;
  }
}

.footer-menu ul li a,
.footer-menu ul li p {
  font-size: 16px;
  color: #747474;
  line-height: 24px;
  transition: all 0.3s linear;
}

@media (max-width: 575px) {
  .footer-menu ul li a,
  .footer-menu ul li p {
    font-size: 10px;
    line-height: 15px;
  }
}

.footer-menu ul li a:hover,
.footer-menu ul li p:hover {
  color: #333333;
}

.footer-menu ul li a span,
.footer-menu ul li p span {
  margin-right: 16px;
}

.footer-menu ul li p {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .footer-field {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-field {
    width: 100%;
  }
}

.footer-field h2 {
  font-size: 20px;
  color: #333333;
  line-height: 24px;
  margin-bottom: 16px;
  font-family: "nulshock";
}

@media (max-width: 575px) {
  .footer-field h2 {
    font-size: 12px;
    line-height: 14.4px;
    margin-bottom: 9px;
  }
}

@media (max-width: 767px) {
  .footer-field .input-field {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .footer-field .input-field input {
    font-size: 10px;
    padding: 11px 12px;
    line-height: 13.05px;
  }
}

@media (max-width: 575px) {
  .footer-field .input-field button {
    font-size: 9px;
    line-height: 13.5px;
    width: 75px;
    height: 24px;
    padding: 5px 18px !important;
  }
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  position: fixed;
}

.header.sticky .navbar {
  padding: 14px 0px;
  box-shadow: 0px 4px 20px 0px #0000000d;
}

.header .dropdown-menu {
  left: auto;
  right: 0;
}

@media (max-width: 991px) {
  .header .dropdown-menu {
    margin: 0;
    border: 0;
    padding: 0;
  }
}

.header .dropdown-item {
  color: #747474;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  font-weight: 500;
}

@media (max-width: 991px) {
  .header .dropdown-item {
    padding: 4px 0px;
  }
}

.header .dropdown-item:hover {
  color: #fff;
  background-color: #ff0020;
}

@media (max-width: 991px) {
  .header .dropdown-item:hover {
    color: inherit;
    background-color: transparent;
  }
}

.header .navbar {
  padding: 28px 0px;
  background-color: #fff;
  transition: all 0.3s linear;
}

@media (max-width: 991px) {
  .header .navbar {
    box-shadow: 0px 4px 20px 0px #0000000d;
  }
}

@media (max-width: 991px) {
  .header .navbar {
    padding: 13px 0px;
  }
}

.header .navbar-nav {
  align-items: center;
}

@media (max-width: 991px) {
  .header .navbar-nav {
    align-items: flex-end;
  }
}

@media (max-width: 575px) {
  .header .navbar-nav {
    top: 100%;
    right: 12px;
    width: 188px;
    margin-left: auto;
    position: absolute;
    padding: 18px 30px;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px #0000001a;
  }
}

@media (max-width: 575px) {
  .header .navbar-nav {
    right: 12px;
  }
}

.header .navbar-toggler {
  border: 0;
  padding: 0px;
  border-radius: 0px;
  transform: rotate(90deg);
  transition: all 0.2s ease-in-out;
}

.header .navbar-toggler.collapsed {
  transform: rotate(0deg);
}

.header .navbar-toggler:focus, .header .navbar-toggler:active {
  border: 0px;
  outline: none;
  box-shadow: none;
}

.header .navbar-brand {
  padding: 0;
}

.header .nav-item {
  margin-right: 48px;
}

@media (max-width: 991px) {
  .header .nav-item {
    margin: 0;
    margin-bottom: 16px;
  }
}

.header .nav-item select {
  border: 0;
  padding: 0;
  color: #ff0020;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .header .nav-item select {
    margin-left: -24px;
  }
}

.header .nav-item select:focus {
  outline: none;
}

@media (max-width: 991px) {
  .header .nav-item:nth-last-child(2) {
    width: 100%;
    padding-top: 24px;
  }
}

@media (max-width: 575px) {
  .header .nav-item:nth-last-child(2) {
    padding-top: 70px;
  }
}

@media (max-width: 991px) {
  .header .nav-item:nth-last-child(1) {
    margin: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

.header .nav-link {
  color: #333333;
  font-weight: 700;
  padding: 0 !important;
  transition: all 0.3s linear;
}

@media (max-width: 991px) {
  .header .nav-link {
    text-align: right;
  }
}

.header .nav-link:hover {
  color: #ff0020;
}

.header .nav-link:hover.dropdown-toggle::after {
  border-color: #ff0020;
}

.header .nav-link.dropdown-toggle.show {
  color: #ff0020;
}

.header .nav-link.dropdown-toggle.show::after {
  border-color: #ff0020;
  transform: rotate(-138deg);
}

.header .nav-link.dropdown-toggle::after {
  content: "";
  padding: 3px;
  margin-left: 5px;
  vertical-align: 3px;
  display: inline-block;
  display: inline-block;
  border: solid #333333;
  transform: rotate(45deg);
  transition: all 0.3s linear;
  border-width: 0 2.6px 2.6px 0;
}

.header .nav-link.button {
  width: 108px;
  height: 45px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .header .nav-link.button {
    height: 28px;
    margin: auto;
    padding: 7px 20px !important;
  }
}

.instagram {
  position: relative;
  padding-top: 140px;
}

.instagram .heading {
  text-align: center;
  margin-bottom: 55px;
}

@media (max-width: 767px) {
  .instagram .heading {
    margin-bottom: 30px;
  }
}

.instagram .heading p {
  color: #ff0020;
  font-weight: 700;
}

@media (max-width: 767px) {
  .instagram .heading p {
    font-size: 16px;
    line-height: 22.4px;
  }
}
/*# sourceMappingURL=main.css.map */