* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

input,
button {
  border: 0px;
}

input:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

button {
  display: inline-block;
  background-color: transparent;
}

a {
  text-decoration: none;
}

body {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.choose-info .heading h2, .choose-img__info h2, .banner-info h2, .breadcrumb-content h2, .instagram .heading h2, .product .heading h2 {
  color: #1d1d1d;
  font-size: 40px;
  line-height: 48px;
  font-family: "nulshock";
}

@media (max-width: 767px) {
  .choose-info .heading h2, .choose-img__info h2, .banner-info h2, .breadcrumb-content h2, .instagram .heading h2, .product .heading h2 {
    font-size: 25px;
    line-height: 30px;
  }
}

.header .nav-item select, .header .nav-link {
  font-size: 14px;
  line-height: 21px;
}

.choose-info ul li h2, .footer-menu h2, .instagram .heading p {
  font-size: 18px;
  line-height: 21.6px;
}

.button {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  display: inline-block;
  text-transform: capitalize;
  background-color: #ff0020;
  padding: 11px 21px !important;
  box-shadow: 0px 4px 20px 0px #ff00201a;
  transition: all 0.3s linear;
}

.button:hover {
  color: #fff;
}

.ig-card {
  width: 100%;
  height: 238px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 767px) {
  .ig-card {
    height: 75px;
  }
}

.ig-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ig-card a {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

@media (max-width: 767px) {
  .ig-card a img {
    transform: scale(0.5);
  }
}

.testimonial-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.testimonial-card .quote {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0020;
}

@media (max-width: 991px) {
  .testimonial-card .quote {
    grid-column: 1/-1;
    padding: 40px 0px;
  }
}

.testimonial-card .info {
  z-index: 1;
  position: relative;
  grid-column: 2 span;
}

@media (max-width: 991px) {
  .testimonial-card .info {
    grid-column: 1/-1;
  }
}

.testimonial-card .info::after {
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.product-card {
  padding: 18px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
}

.product-card span {
  font-size: 8px;
  line-height: 12px;
  margin-bottom: 4px;
}

.product-card h2 {
  color: #1d1d1d;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 3px;
  font-weight: 700;
  text-transform: capitalize;
}

.product-card p {
  font-size: 9px;
  color: #747474;
  line-height: 12.6px;
}

.product-card-price {
  padding: 0px 12px;
  margin: 16px 0px;
  border-radius: 5px;
  background-color: #fff;
  border: 0.5px solid #cfcfcf;
}

.product-card-price span,
.product-card-price h2 {
  color: #1d1d1d;
}

.product-card-price span {
  font-size: 8px;
  line-height: 12px;
}

.product-card-price h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
}

.product-card-actions {
  display: flex;
  align-items: center;
}

.product-card-actions a {
  width: 50%;
  font-size: 13px;
  font-weight: 700;
  padding: 12px 20px;
  line-height: 19.5px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s linear;
}

.product-card-actions a svg {
  color: #ff0020;
  margin-right: 6px;
}

.product-card-actions a:nth-child(1) {
  color: #fff;
  margin-right: 8px;
  background-color: #ff0020;
}

.product-card-actions a:nth-child(2) {
  color: #1d1d1d;
}

.product-card-actions a:nth-child(2):hover {
  color: #fff;
  background-color: #ff0020;
}

.product-card-actions a:nth-child(2):hover svg {
  color: #fff;
}

.store-card {
  display: flex;
  padding: 8px 15px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background: #f5f5f5;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid #cfcfcf;
}

.store-card .info {
  display: flex;
  margin-right: 24px;
  align-items: center;
}

.store-card .info img {
  margin-right: 10px;
}

.store-card .info h2,
.store-card .info p {
  color: #1d1d1d;
}

.store-card .info h2 {
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  text-transform: capitalize;
}

.store-card .info p {
  font-size: 8px;
  line-height: 12px;
  max-width: 150px;
}

.store-card a {
  color: #ff0020;
  font-size: 10px;
  line-height: 15px;
  text-decoration: underline;
}

.order-card {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  padding: 24px 36px;
  align-items: center;
  background-color: #fff;
  border: 1px solid #cfcfcf;
}

@media (max-width: 991px) {
  .order-card {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .order-card {
    padding: 22px 30px;
    padding-bottom: 40px;
  }
}

.order-card-img {
  margin-right: 60px;
}

@media (max-width: 991px) {
  .order-card-img {
    margin: 0;
    width: 100%;
  }
}

.order-card-img h2 {
  font-size: 20px;
  color: #1d1d1d;
  line-height: 24px;
  margin-bottom: 8px;
  font-family: "nulshock";
}

@media (max-width: 991px) {
  .order-card-img h2 {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }
}

.order-card-img .img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 991px) {
  .order-card-img .img {
    width: 100%;
  }
}

.order-card-img .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 991px) {
  .order-card-img .img img {
    object-fit: contain;
  }
}

.order-card-info ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  align-items: center;
}

.order-card-info ul li {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .order-card-info ul li {
    margin-right: 26px;
  }
}

.order-card-info ul li span {
  font-size: 8px;
  color: #747474;
  line-height: 12px;
}

.order-card-info ul li p {
  font-size: 16px;
  font-weight: 700;
  color: #1d1d1d;
  line-height: 24px;
  text-transform: capitalize;
}

@media (max-width: 57px) {
  .order-card-info ul li p {
    font-size: 12px;
    line-height: 18px;
  }
}

.order-card-info blockquote p {
  font-size: 16px;
  color: #747474;
  line-height: 22.4px;
  padding-bottom: 40px;
}

.team-card-img {
  z-index: 3;
  width: 176px;
  height: 272px;
  margin: 0px auto;
  position: relative;
  margin-bottom: 18px;
}

.team-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-card-img::after {
  content: "";
  top: -34px;
  right: -40px;
  z-index: -1;
  width: 137px;
  height: 267px;
  position: absolute;
  background-color: #ff0020;
}

.team-card-info {
  text-align: center;
}

.team-card-info h2 {
  color: #000;
  font-size: 20px;
  line-height: 24px;
  font-family: "nulshock";
}

@media (max-width: 575px) {
  .team-card-info h2 {
    font-size: 12.18px;
    line-height: 14.62px;
  }
}

.team-card-info p {
  color: #000;
  font-size: 16px;
  line-height: 32px;
}

@media (max-width: 575px) {
  .team-card-info p {
    font-size: 9.75px;
    line-height: 19.49px;
  }
}

.input {
  overflow: hidden;
  position: relative;
}

.input label {
  color: #1d1d1d;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  display: inline-block;
}

.input label sup {
  color: #ff0020;
}

.input input {
  font-size: 13px;
  line-height: 19.5px;
  color: #1d1d1d;
  width: 100%;
  padding: 10px 14px;
  border-radius: 5px;
  background-color: #fff;
  border: 0.5px solid #cfcfcf;
}

.input-field {
  width: 565px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  text-transform: capitalize;
  border: 1px solid #d9d9d9;
}

.input-field input {
  width: 100%;
  font-size: 14px;
  line-height: 19.07px;
  padding: 24px 25px;
}

.input-field input::placeholder {
  color: #747474;
}

.input-field button {
  top: 50%;
  width: 138px;
  height: 43px;
  right: 10px;
  position: absolute;
  transform: translateY(-50%);
}

.preview .heading {
  font-size: 20px;
  color: #1d1d1d;
  line-height: 24px;
  margin-bottom: 60px;
  font-family: "nulshock";
}

@media (max-width: 991px) {
  .preview .heading {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .preview .heading {
    font-size: 15px;
    line-height: 18px;
  }
}

.preview-content {
  display: grid;
  transition: all 0.3s linear;
  grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
}

@media (max-width: 767px) {
  .preview-content {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  }
}

.preview-item {
  width: 100%;
  height: 234px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 767px) {
  .preview-item {
    height: 90px;
  }
}

.preview-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vbox-container {
  width: 50%;
  height: 620px;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.progress {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: visible;
}

.progress-bar {
  overflow: visible;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff0020;
}

.progress-status {
  top: 50%;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  transform: translateY(-50%);
  justify-content: space-between;
}

.progress-status .info {
  text-align: center;
}

.progress-status .info:nth-child(1) {
  margin-left: -24px;
}

@media (max-width: 767px) {
  .progress-status .info:nth-child(1) {
    margin-left: -4px;
  }
}

.progress-status .info:nth-last-child(1) {
  margin-right: -30px;
}

@media (max-width: 767px) {
  .progress-status .info:nth-last-child(1) {
    margin-right: -15px;
  }
}

.progress-status .info span {
  color: #747474;
  font-size: 9px;
  line-height: 12px;
  margin-bottom: 4px;
  font-weight: 700;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .progress-status .info span {
    font-size: 5px;
    line-height: 7.5px;
  }
}

.progress-status .info-box {
  width: 20px;
  height: 20px;
  margin: auto;
  border: 2px solid #ff0020;
  background-color: #fff;
}

.progress-status .info h2 {
  font-size: 12px;
  color: #1d1d1d;
  line-height: 12px;
  font-weight: 700;
  margin-top: 6px;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .progress-status .info h2 {
    font-size: 8px;
    line-height: 12px;
  }
}

.progress-status .info.active .info-box {
  background-color: #ff0020;
}

.order {
  overflow: hidden;
  position: relative;
  padding-bottom: 0px;
}

.order-about {
  padding-bottom: 60px;
}

.order-about h2 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 18px;
  font-family: "nulshock";
}

.order-about p {
  color: #747474;
  font-size: 16px;
  line-height: 22.4px;
}

.order-fields {
  gap: 30px;
  display: grid;
  margin-bottom: 60px;
  align-items: flex-end;
  grid-template-columns: 1fr 1fr 1fr 165px;
}

@media (max-width: 991px) {
  .order-fields {
    gap: 20px;
    grid-template-columns: 1fr;
  }
}

.order-fields .button {
  height: 40px;
}

.about {
  padding: 40px 0px;
  padding-top: 0px;
  position: relative;
}

.about-img {
  float: left;
  height: 380px;
  margin-right: 54px;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .about-img {
    float: none;
    padding: 0px;
    margin: 0px;
    margin: 24px 0px;
  }
}

@media (max-width: 767px) {
  .about-img {
    height: 240px;
  }
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-info h2 {
  font-size: 30px;
  line-height: 36px;
  max-width: 420px;
  margin-bottom: 25px;
  font-family: "nulshock";
  position: relative;
  left: 420px;
}

@media (max-width: 991px) {
  .about-info h2 {
    left: auto;
    margin: auto;
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .about-info h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}

.about blockquote {
  margin: 0;
}

.about blockquote p {
  color: #6d6d6d;
  font-size: 16px;
  margin-bottom: 18px;
  line-height: 22.4px;
}

@media (max-width: 575px) {
  .about blockquote p {
    font-size: 12px;
    line-height: 16.8px;
  }
}

.choose {
  position: relative;
  padding: 80px 0px;
  background-color: #f6f6f6;
}

@media (max-width: 767px) {
  .choose {
    padding: 30px 0px;
  }
}

.choose-info .heading {
  padding-left: 20px;
  margin-bottom: 70px;
  border-left: 7px solid #ff0020;
}

@media (max-width: 991px) {
  .choose-info .heading {
    margin-bottom: 34px;
  }
}

.choose-info .heading h2 {
  padding-bottom: 16px;
}

.choose-info .heading p {
  max-width: 470px;
  font-size: 16px;
  color: #747474;
  line-height: 22.4px;
}

@media (max-width: 991px) {
  .choose-info .heading p {
    max-width: 100%;
  }
}

.choose-info ul li {
  margin-bottom: 70px;
}

@media (max-width: 575px) {
  .choose-info ul li {
    margin-bottom: 20px;
  }
}

.choose-info ul li:nth-last-child(1) {
  margin: 0;
}

.choose-info ul li h2 {
  color: #000;
  margin-bottom: 16px;
  font-family: "nulshock";
}

@media (max-width: 575px) {
  .choose-info ul li h2 {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}

.choose-info ul li p {
  font-size: 16px;
  color: #747474;
  max-width: 470px;
  line-height: 22.4px;
}

@media (max-width: 991px) {
  .choose-info ul li p {
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .choose-info ul li p {
    font-size: 12px;
    line-height: 16.8px;
  }
}

.choose-img {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 991px) {
  .choose-img {
    height: 380px;
    margin-bottom: 20px;
  }
}

.choose-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.choose-img__info {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}

.choose-img__info h2 {
  color: #fff;
  margin-bottom: 12px;
}

.choose-img__info a {
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  animation: pulse 1.6s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 255, 255, 0.6);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.banner {
  padding-top: 240px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

@media (max-width: 991px) {
  .banner {
    padding-top: 0px;
  }
}

.banner-content {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #f6f6f6;
}

@media (max-width: 991px) {
  .banner-content {
    padding-top: 660px;
  }
}

@media (max-width: 767px) {
  .banner-content {
    padding-top: 490px;
    padding-bottom: 30px;
  }
}

@media (max-width: 425px) {
  .banner-content {
    padding-top: 440px;
  }
}

.banner-content-bottom {
  padding: 100px 0px;
  background-color: #ff0020;
}

.banner-content-bottom__info {
  text-align: center;
}

.banner-content-bottom__info h2 {
  color: #fff;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 18px;
  font-family: "nulshock";
}

@media (max-width: 767px) {
  .banner-content-bottom__info h2 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}

.banner-content-bottom__info p {
  color: #fff;
  font-size: 16px;
  line-height: 22.2px;
  max-width: 780px;
  margin: auto;
}

@media (max-width: 767px) {
  .banner-content-bottom__info p {
    font-size: 12px;
    line-height: 16.8px;
  }
}

@media (max-width: 767px) {
  .banner-content-bottom {
    padding: 30px 0px;
  }
}

@media (max-width: 991px) {
  .banner-info {
    text-align: center;
  }
}

.banner-info h2 {
  margin-bottom: 18px;
}

@media (max-width: 767px) {
  .banner-info h2 {
    margin-bottom: 10px;
  }
}

.banner-info p {
  font-size: 16px;
  color: #747474;
  line-height: 22.4px;
  margin-bottom: 18px;
}

.banner-info a.button {
  width: 190px;
  height: 44px;
  text-align: center;
}

@media (max-width: 767px) {
  .banner-info a.button {
    display: flex;
    width: 124px;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 7px 14px !important;
  }
}

.banner-overlay {
  left: -100px;
  top: -40px;
  position: absolute;
}

@media (max-width: 1380px) {
  .banner-overlay {
    top: 130px;
  }
}

@media (max-width: 991px) {
  .banner-overlay {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 425px) {
  .banner-overlay {
    top: 110px;
  }
}

@media (max-width: 1380px) {
  .banner-overlay img {
    max-width: 680px;
  }
}

@media (max-width: 767px) {
  .banner-overlay img {
    max-width: 480px;
  }
}

@media (max-width: 425px) {
  .banner-overlay img {
    max-width: 320px;
  }
}

.breadcrumb {
  padding: 138px 0px;
  padding-top: 220px;
}

@media (max-width: 1200px) {
  .breadcrumb {
    padding: 60px 0px;
    padding-top: 160px;
  }
}

@media (max-width: 575px) {
  .breadcrumb {
    padding-top: 140px;
  }
}

.breadcrumb-content {
  text-align: center;
}

.contact {
  overflow: hidden;
  position: relative;
  padding: 40px 0px;
  background-color: #f5f5f5;
}

@media (max-width: 767px) {
  .contact {
    padding: 30px 0px;
  }
}

.contact h2 {
  font-size: 30px;
  line-height: 36px;
  max-width: 616px;
  margin-bottom: 32px;
  font-family: "nulshock";
}

@media (max-width: 991px) {
  .contact h2 {
    text-align: center;
    margin: 0px auto;
    margin-bottom: 44px;
  }
}

@media (max-width: 767px) {
  .contact h2 {
    font-size: 20px;
    line-height: 24px;
    max-width: 100%;
  }
}

.contact ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .contact ul {
    flex-direction: column;
  }
}

.contact ul li {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .contact ul li {
    margin-bottom: 8px;
  }
}

.contact ul li .icon {
  margin-right: 12px;
}

.contact ul li p {
  font-size: 16px;
  line-height: 32px;
  white-space: nowrap;
  text-transform: capitalize;
}

.contact ul li p span {
  color: #ff0020;
  font-weight: 700;
}

.footer {
  overflow: hidden;
  position: relative;
  background-color: #f6f6f6;
}

.footer-top {
  padding: 50px 0px;
  padding-bottom: 45px;
  border-bottom: 2px solid #d9d9d9;
}

.footer-top-subscribe {
  display: flex;
  margin-top: 50px;
  align-items: flex-end;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .footer-top-subscribe {
    margin-top: 16px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-top-subscribe ul {
  display: flex;
  align-items: center;
}

.footer-top-subscribe ul li {
  margin-right: 20px;
}

.footer-bottom {
  padding-top: 22px;
  padding-bottom: 34px;
}

@media (max-width: 767px) {
  .footer-bottom {
    padding-top: 27px;
    padding-bottom: 15px;
  }
}

.footer-bottom p {
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .footer-bottom p {
    font-size: 9px;
    line-height: 13.9px;
  }
}

@media (max-width: 991px) {
  .footer-info {
    margin-bottom: 28px;
  }
}

.footer-info .logo {
  margin-bottom: 18px;
}

.footer-info p {
  font-size: 16px;
  color: #747474;
  line-height: 24px;
  margin-bottom: 30px;
}

@media (max-width: 575px) {
  .footer-info p {
    font-size: 10px;
    line-height: 15px;
  }
}

.footer-info ul {
  display: flex;
  align-items: center;
}

.footer-info ul li {
  margin-right: 20px;
}

@media (max-width: 991px) {
  .footer-menu {
    margin-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .footer-menu {
    margin-bottom: 24px;
  }
}

.footer-menu h2 {
  color: #333333;
  margin-bottom: 20px;
  font-family: "nulshock";
}

@media (max-width: 575px) {
  .footer-menu h2 {
    font-size: 12px;
    line-height: 14.4px;
    margin-bottom: 15px;
  }
}

.footer-menu ul li {
  margin-bottom: 5px;
}

@media (max-width: 575px) {
  .footer-menu ul li {
    margin-bottom: 4px;
  }
}

.footer-menu ul li a,
.footer-menu ul li p {
  font-size: 16px;
  color: #747474;
  line-height: 24px;
  transition: all 0.3s linear;
}

@media (max-width: 575px) {
  .footer-menu ul li a,
  .footer-menu ul li p {
    font-size: 10px;
    line-height: 15px;
  }
}

.footer-menu ul li a:hover,
.footer-menu ul li p:hover {
  color: #333333;
}

.footer-menu ul li a span,
.footer-menu ul li p span {
  margin-right: 16px;
}

.footer-menu ul li p {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .footer-field {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-field {
    width: 100%;
  }
}

.footer-field h2 {
  font-size: 20px;
  color: #333333;
  line-height: 24px;
  margin-bottom: 16px;
  font-family: "nulshock";
}

@media (max-width: 575px) {
  .footer-field h2 {
    font-size: 12px;
    line-height: 14.4px;
    margin-bottom: 9px;
  }
}

@media (max-width: 767px) {
  .footer-field .input-field {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .footer-field .input-field input {
    font-size: 10px;
    padding: 11px 12px;
    line-height: 13.05px;
  }
}

@media (max-width: 575px) {
  .footer-field .input-field button {
    font-size: 9px;
    line-height: 13.5px;
    width: 75px;
    height: 24px;
    padding: 5px 18px !important;
  }
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  position: fixed;
}

.header.sticky .navbar {
  padding: 14px 0px;
  box-shadow: 0px 4px 20px 0px #0000000d;
}

.header .dropdown-menu {
  left: auto;
  right: 0;
}

@media (max-width: 991px) {
  .header .dropdown-menu {
    margin: 0;
    border: 0;
    padding: 0;
  }
}

.header .dropdown-item {
  color: #747474;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  font-weight: 500;
}

@media (max-width: 991px) {
  .header .dropdown-item {
    padding: 4px 0px;
  }
}

.header .dropdown-item:hover {
  color: #fff;
  background-color: #ff0020;
}

@media (max-width: 991px) {
  .header .dropdown-item:hover {
    color: inherit;
    background-color: transparent;
  }
}

.header .navbar {
  padding: 28px 0px;
  background-color: #fff;
  transition: all 0.3s linear;
}

@media (max-width: 991px) {
  .header .navbar {
    box-shadow: 0px 4px 20px 0px #0000000d;
  }
}

@media (max-width: 991px) {
  .header .navbar {
    padding: 13px 0px;
  }
}

.header .navbar-nav {
  align-items: center;
}

@media (max-width: 991px) {
  .header .navbar-nav {
    align-items: flex-end;
  }
}

@media (max-width: 575px) {
  .header .navbar-nav {
    top: 100%;
    right: 12px;
    width: 188px;
    margin-left: auto;
    position: absolute;
    padding: 18px 30px;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px #0000001a;
  }
}

@media (max-width: 575px) {
  .header .navbar-nav {
    right: 12px;
  }
}

.header .navbar-toggler {
  border: 0;
  padding: 0px;
  border-radius: 0px;
  transform: rotate(90deg);
  transition: all 0.2s ease-in-out;
}

.header .navbar-toggler.collapsed {
  transform: rotate(0deg);
}

.header .navbar-toggler:focus, .header .navbar-toggler:active {
  border: 0px;
  outline: none;
  box-shadow: none;
}

.header .navbar-brand {
  padding: 0;
}

.header .nav-item {
  margin-right: 48px;
}

@media (max-width: 991px) {
  .header .nav-item {
    margin: 0;
    margin-bottom: 16px;
  }
}

.header .nav-item select {
  border: 0;
  padding: 0;
  color: #ff0020;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .header .nav-item select {
    margin-left: -24px;
  }
}

.header .nav-item select:focus {
  outline: none;
}

@media (max-width: 991px) {
  .header .nav-item:nth-last-child(2) {
    width: 100%;
    padding-top: 24px;
  }
}

@media (max-width: 575px) {
  .header .nav-item:nth-last-child(2) {
    padding-top: 70px;
  }
}

@media (max-width: 991px) {
  .header .nav-item:nth-last-child(1) {
    margin: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

.header .nav-item.active .nav-link {
  color: #ff0020;
}

.header .nav-item.active .nav-link.dropdown-toggle::after {
  border-color: #ff0020;
}

.header .nav-link {
  color: #333333;
  font-weight: 700;
  padding: 0 !important;
  transition: all 0.3s linear;
}

@media (max-width: 991px) {
  .header .nav-link {
    text-align: right;
  }
}

.header .nav-link:hover {
  color: #ff0020;
}

.header .nav-link:hover.dropdown-toggle::after {
  border-color: #ff0020;
}

.header .nav-link.dropdown-toggle.show {
  color: #ff0020;
}

.header .nav-link.dropdown-toggle.show::after {
  border-color: #ff0020;
  transform: rotate(-138deg);
}

.header .nav-link.dropdown-toggle::after {
  content: "";
  padding: 3px;
  margin-left: 5px;
  vertical-align: 3px;
  display: inline-block;
  display: inline-block;
  border: solid #333333;
  transform: rotate(45deg);
  transition: all 0.3s linear;
  border-width: 0 2.6px 2.6px 0;
}

.header .nav-link.button {
  width: 108px;
  height: 45px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .header .nav-link.button {
    height: 28px;
    margin: auto;
    padding: 7px 20px !important;
  }
}

.instagram {
  position: relative;
  padding-top: 140px;
}

@media (max-width: 991px) {
  .instagram {
    padding-top: 60px;
  }
}

.instagram .heading {
  text-align: center;
  margin-bottom: 55px;
}

@media (max-width: 767px) {
  .instagram .heading {
    margin-bottom: 30px;
  }
}

.instagram .heading p {
  color: #ff0020;
  font-weight: 700;
}

@media (max-width: 767px) {
  .instagram .heading p {
    font-size: 16px;
    line-height: 22.4px;
  }
}

.product {
  overflow: hidden;
  padding: 80px 0px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 991px) {
  .product {
    padding: 40px 0px;
  }
}

.product .heading {
  text-align: center;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .product .heading {
    margin-bottom: 24px;
  }
}

.product .heading h2 {
  margin-bottom: 16px;
}

.product .heading p {
  max-width: 780px;
  margin: 0px auto;
}

@media (max-width: 991px) {
  .product .heading p {
    max-width: 100%;
  }
}

.product-content {
  align-items: center;
}

@media (max-width: 991px) {
  .product-content {
    margin-bottom: 60px;
  }
}

.product-img {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 991px) {
  .product-img {
    height: 240px;
    margin-bottom: 24px;
  }
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-info h2 {
  color: #ff0020;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 35px;
  font-family: "nulshock";
}

@media (max-width: 991px) {
  .product-info h2 {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .product-info h2 {
    font-size: 18px;
    line-height: 21.6px;
    margin-bottom: 10px;
  }
}

.product-info p {
  font-size: 16px;
  color: #747474;
  margin-bottom: 30px;
  line-height: 22.4px;
}

@media (max-width: 575px) {
  .product-info p {
    font-size: 10px;
    line-height: 14px;
  }
}

.product-info ul {
  gap: 24px;
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.product-info ul li {
  display: flex;
  align-items: center;
}

.product-info ul li span {
  margin-right: 8px;
  display: inline-block;
}

.product-info ul li p {
  margin: 0;
}

@media (max-width: 575px) {
  .product-info .button {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .products-info {
    gap: 12px;
    display: grid;
    margin-bottom: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.products-info li {
  margin-bottom: 12px;
}

@media (max-width: 1200px) {
  .products-info li {
    margin: 0;
  }
}

.products-info li span {
  font-size: 8px;
  color: #747474;
  line-height: 12px;
  margin-bottom: 4px;
}

.products-info li h6 {
  color: #1d1d1d;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: capitalize;
}

@media (max-width: 575px) {
  .products-info li h6 {
    font-size: 12px;
    line-height: 18px;
  }
}

.products .product-card {
  margin-bottom: 34px;
}

@media (max-width: 1200px) {
  .products .store-card {
    margin-bottom: 24px;
  }
}

@media (max-width: 1200px) {
  .products .swiper {
    margin-bottom: 24px;
  }
}

.products .swiper.products-slider .swiper-slide {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.products .swiper.products-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.products .swiper.products-thumb-slider .swiper-slide {
  width: 100%;
  height: 70px;
  padding: 12px;
  transition: all 0.3s linear;
  border: 1px solid transparent;
}

.products .swiper.products-thumb-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.products .swiper.products-thumb-slider .swiper-slide-thumb-active {
  border-color: #ff0020;
}

.products-details {
  padding-top: 100px;
  padding-bottom: 80px;
}

@media (max-width: 991px) {
  .products-details {
    padding: 60px 0px;
  }
}

@media (max-width: 767px) {
  .products-details {
    padding: 30px 0px;
  }
}

.products-details p {
  font-size: 16px;
  color: #747474;
  line-height: 22px;
  margin-bottom: 12px;
  text-align: center;
}

@media (max-width: 575px) {
  .products-details p {
    font-size: 12px;
    line-height: 16.8px;
  }
}

.team {
  z-index: 9;
  padding: 40px 0px;
  position: relative;
}

.team .heading {
  color: #000;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 60px;
  font-family: "nulshock";
}

@media (max-width: 767px) {
  .team .heading {
    text-align: center;
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .team .heading {
    font-size: 20px;
    line-height: 24px;
  }
}

.team .team-card {
  margin-bottom: 60px;
}

.testimonial {
  padding: 80px 0px;
  overflow: hidden;
  position: relative;
  padding-bottom: 0px;
}

.testimonial-content {
  margin: 0px auto;
  text-align: center;
}

.testimonial-content blockquote {
  margin: 0;
}

.testimonial-content blockquote p {
  margin: auto;
  color: #fff;
  font-size: 20px;
  max-width: 640px;
  line-height: 28px;
  padding-bottom: 60px;
}

@media (max-width: 991px) {
  .testimonial-content blockquote p {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .testimonial-content blockquote p {
    font-size: 12px;
    line-height: 18px;
    max-width: 275px;
  }
}

.testimonial-content .user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-content .user .img {
  width: 35px;
  height: 35px;
  overflow: hidden;
  position: relative;
  margin-right: 24px;
  border: 0.87px solid #ffffff;
}

.testimonial-content .user .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-content .user h2 {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-family: "nulshock";
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .testimonial-content .user h2 {
    font-size: 15px;
    line-height: 18px;
  }
}

.testimonial .swiper {
  padding: 80px 0px;
}

@media (max-width: 991px) {
  .testimonial .swiper {
    padding: 40px 0px;
    padding-bottom: 85px;
  }
}

.testimonial .swiper-pagination {
  bottom: 20px;
  left: auto;
  right: 55px;
  text-align: end;
}

@media (max-width: 991px) {
  .testimonial .swiper-pagination {
    right: 50%;
    text-align: center;
    transform: translateX(50%);
  }
}

.testimonial .swiper-pagination-bullet {
  opacity: 1;
  width: 16px;
  height: 16px;
  border-radius: 0px;
  margin: 0px !important;
  margin-right: 3px !important;
  background-color: #fff;
}

.testimonial .swiper-pagination-bullet-active {
  background-color: #ff0020;
}

.testimonial-action {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

@media (max-width: 991px) {
  .testimonial-action {
    margin-top: 36px;
  }
}

.testimonial-action .button {
  width: 238px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */